- login = login
header
  div.headerLeft
    h1 高槻さんかわいい
  div.headerRight
    unless login
      button.sign.up 新規登録
      button.sign.in ログイン
    else
      button.sign.out ログアウト

div.modalBackground
div.modalWindow
  div.head
    h4.title
    button.closeButton.close ✕
  unless login
    form.form(method="post")
      div.content
      div.foot
        button.CompleteButton.close 閉じる
        button.CompleteButton.submit(type="submit")
  else
    div.foot
      button.CompleteButton.close.drop 閉じる
      button.CompleteButton.submit.down ログアウト
