header
  div.headerLeft
    h1 高槻さんかわいい
  unless login
    div.headerRight
        button.sign#up 新規登録
        button.sign#in ログイン
  else
    p a

unless login
  div.modalBackground
  div.modalWindow
    div.head
      h4.title
      button.closeButton.close ✕
    div.content
    div.foot
      button.CompleteButton.close 閉じる
      form
        button.CompleteButton.form
