doctype html
html(lang="ja")
  head
    meta(charset="urf-8")
    link(rel="stylesheet", href="stylesheets/common.css")
    link(rel="stylesheet", href="stylesheets/header.css")
    link(rel="stylesheet", href="stylesheets/footer.css")
    block head
  body
    include header
    div.body
      div.content
        block body
    include footer
