doctype html
html(lang="ja")
  head
    meta(charset="urf-8")
    style(src="stylesheets/common.css")
    style(src="stylesheets/header.css")
    style(src="stylesheets/footer.css")
    block head
  body
    include header
    block body
    include footer
