header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  overflow: hidden;
  min-width: 600px;
}

.headerLeft {
  float: left;
}

.headerRight {
  float: right;
}

.sign {
  height: 40px;
  width: 100px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  color: #FAFAFA;
  outline: none;
  margin-right: 10px;
  margin-top: 25px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #3ADF00;
  border-radius: 3px;
}

.sign:hover {
  background-color: #31B404;
}

.sign:active {
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1) inset;
}

.modalWindow {
  width: 500px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.2;
  z-index: 2;
  margin: auto;
  position: absolute;
  display: none;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.7);
  background-color: white;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}

.content {
  padding: 15px 15px;
  overflow: hidden;
}

.modalBackground {
  background-color: black;
  opacity: 0.0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  display: none;
  position: fixed;
  z-index: 1;
}

.head {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0px 20px;
  overflow: hidden;
}

.title {
  font-size: 18px;
  margin-left: 10px;
  float: left;
}

.closeButton {
  float: right;
  margin-top: 24px;
  font-weight: bold;
  outline: none;
  color: #CCCCCC;
  cursor: pointer;
  -webkit-user-select: none;
  font-size: 18px;
  border: none;
  background-color: white;
}

.foot {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 15px;
  overflow: hidden;
}

.CompleteButton {
  width: 100px;
  margin-right: 15px;
  padding: 10px 15px;
  background-color: white;
  outline: none;
  border-radius: 5px;
  font-size: 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  float: right;
  cursor: pointer;
  -webkit-user-select: none;
}

.CompleteButton.form:hover {
  color: #FAFAFA;
  font-size: 15px;
  font-weight: bold;
  background-color: #3ADF00;
}

.CompleteButton.close:hover {
  color: #FAFAFA;
  font-size: 15px;
  font-weight: bold;
  background-color: #919191;
}

.description {
  float: left;
  margin-left: 30px;
}

.information {
  margin-top: 10px;
  margin-bottom: 22px;
}

.input {
  width: 250px;
  height: 20px;
  margin: 10px 0px 10px 30px;
  box-shadow: inset 0px 1px 1px -100px rgba(0,0,0,0.2);
}
