.graph {
  max-height: 450px;
  max-width: 580px;
  user-select: none;
}

.gameManagement {
  float: left;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.gameManagement p {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.gameManagement .button {
  font-weight: bold;
  padding-left: 10px;
}

.list {
  width: 350px;
  height: 400px;
  overflow: scroll;
}

.body {
  min-width: 1000px;
}

.button {
  cursor: pointer;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-user-select: none;
  transition: 0.1s;
}

.insert:hover {
  background-color: #3ADF00;
  color: #FAFAFA;
  font-weight: bold;
}

.delete:hover {
  background-color: #FF5454;
  color: #FAFAFA;
  font-weight: bold;
}

.game {
  height: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  transition: 0.1s;
}

.game:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.game h4 {
  margin: 0;
  padding: 10px 0px 10px 10px;
  white-space: nowrap;
}

.option {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.1);
}

.emits {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.1);
}

.main {
  float: right;
  width: 600px;
}
